<template>
  <main class="section">
    <div class="stats">
      <h1 class="title">Stats</h1>
      <template v-if="aplus !== data.length">
          <p>Nous avons {{ aplus }} sites sur {{ data.length }} avec une note de A+, soit environ {{ Math.round(aplus * 100 / data.length) }}%.</p>
      </template>
      <template v-else>
          <p>Nous avons {{ aplus }} sites sur {{ data.length }} avec une note de A+, soit 100% 🎉</p>
      </template>
      <template v-if="ipv6 !== data.length">
          <p>Nous avons {{ ipv6 }} sites sur {{ data.length }} avec un champ DNS AAAA, soit environ {{ Math.round(ipv6 * 100 / data.length) }}%.</p>
      </template>
      <template v-else>
          <p>Nous avons {{ ipv6 }} sites sur {{ data.length }} avec un champ DNS AAAA, soit 100% 🎉</p>
      </template>
      <p>(Notez que certains sites n’ont pas la note maximale afin de conserver la compatibilité avec certains appareils anciens)</p>
    </div>
    <b-table
      :data="data"
      :stripped="true"
      :loading="loading"
    >
      <template slot-scope="props">
        <b-table-column field="website" label="Site web">
            {{ props.row.site }}
        </b-table-column>

        <b-table-column field="note" label="Note" :class="`colors ` + props.row.cryptcheck.charAt(0).toLowerCase()">
            <a :href="`https://cryptcheck.fr/https/${props.row.site}`" class="cryptcheck-link"
                rel="noreferrer" title="Voir le détail de la notation sur https://cryptcheck.fr">
                {{ props.row.cryptcheck }}
            </a>
        </b-table-column>

        <b-table-column field="dns" label="DNS" :class="`dns ` + dnsColor(props.row.dns)">
          {{ dnsText(props.row.dns) }}
        </b-table-column>
      </template>
    </b-table>
  </main>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Entry } from '@/types';

@Component({
  computed: {
    aplus(): number {
      return this.$data.data.filter((entry: Entry) => entry.cryptcheck === 'A+').length;
      },

    ipv6(): number {
      return this.$data.data.filter((entry: Entry) => entry.dns.AAAA).length;
    },
  },

  methods: {
    dnsColor(dns) {
      if (dns.AAAA && dns.A) { return 'aaaa'; }
      if (dns.AAAA && !dns.A) { return 'n'; }
      if (dns.A) { return 'a'; }
      return 'n';
    },

    dnsText(dns) {
      if (dns.AAAA && dns.A) { return 'AAAA / A'; }
      if (dns.AAAA && !dns.A) { return 'AAAA without A'; }
      if (dns.A) { return 'A'; }
      return 'N/A';
    },
  },
})
export default class Home extends Vue {
  private data: Entry[] = [];
  private loading: boolean = true;


  public async created() {
    this.data = await (await fetch('resultv2.json')).json();
    this.loading = false;
  }
}
</script>

<style lang="scss">
$background-a: #5cb85c;
$background-b: #8db457;
$background-c: #8db457;
$background-d: #777777;
$background-e: #f0ad4e;
$background-f: #e4804e;
$background-g: #d9534f;
$background-o: #000;
$color-dark: #333333;
$color-light: #fff;

.colors {

  background-color: $background-o;
  color: $color-light;

  &.a {
    background-color: $background-a;
    color: $color-light;
  }

  &.b {
    background-color: $background-b;
    color: $color-light;
  }

  &.c {
    background-color: $background-c;
    color: $color-dark;
  }

  &.d {
    background-color: $background-d;
    color: $color-light;
  }

  &.e {
    background-color: $background-e;
    color: $color-dark;
  }

  &.f {
    background-color: $background-f;
    color: $color-light;
  }

  &.g {
    background-color: $background-g;
    color: $color-light;
  }
}

.dns {
  &.n {
    background-color: $background-o;
    color: $color-light;
  }

  &.a {
    background-color: $background-e;
    color: $color-dark;
  }

  &.aaaa {
    background-color: $background-a;
    color: $color-light;
  }
}

body {
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
}
h1 {
  font-size: 150%;
}
.cryptcheck-link {
  color: #FFFFFF;
  font-weight: 600;
  text-decoration-line: underline;
  text-decoration-style: dotted;
}
</style>
